
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
.Creator/
temp/
local/
build/
profiles/
extensions/
native/engine/ios/*.xcframework
native/plugins/ios/*.xcframework
#//////////////////////////
# NPM
#//////////////////////////
node_modules/
#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/preview-template/
